GNUmakefile
*.aux
*.log
*.toc
*.o
*.diff
*.rej
*.orig
*.bak
*.patch
*.a
*.tgz
*.tar.gz
deskhpsdr
!release/
!release/deskhpsdr
deskHPSDR.app
hpsdrsim
wdspWisdom*
*.props
ip.addr
hpsdr.png
.DS_Store
DEPEND
DEPEND.bak
wdsp-nr4-newlibs/*
wdsp-libs/*
hamlib-static/
MacOS/rigctld_deskhpsdr
LINUX/rigctld_deskhpsdr
wdsp-1.27/libwdsp.a
wdsp-1.27/*.o
wdsp-1.28/libwdsp.a
wdsp-1.28/*.o
wdsp-1.29/libwdsp.a
wdsp-1.29/*.o
wdsp-1.29/*.orig
wdsp-2.00/*.orig
wdsp-2.00/libwdsp.a
wdsp-2.00/*.o
libsolar/libsolar.a
libsolar/*.o
libtelnet/libtelnet.a
libtelnet/*.o
fftw-3.3.11/*
libwebsockets-5/
make.config.deskhpsdr
.vscode/*
src/.vscode/*
./deskhpsdr
./deskhpsdr.app
./hpsdrsim
.WDSP_libs_updated*
./wdspWisdom*
HL2-Tools/hl2_eeprom_discovery
HL2-Tools/hl2_ip_tool
Brick-Tools/*.o
Brick-Tools/p2_discover
*.zip
MacOS/build-*.sh

# Compound Engineering local scratch
.context/compound-engineering/
