[Desktop Entry]
Version=1.0
Categories=X-Hamradio
Comment=SDR Application for Hamradio
Comment[en_GB]=SDR Application for Hamradio
Comment[de]=SDR Amateurfunk Applikation
Type=Application
Terminal=false
Exec=/usr/local/bin/deskhpsdr
Icon=/usr/local/share/deskhpsdr/deskhpsdr.png
Name=deskHPSDR
Name[en_GB]=deskHPSDR
Name[de]=deskHPSDR
GenericName=SDR-Application
GenericName[en_GB]=SDR-Application
GenericName[de]=SDR-Applikation
StartupNotify=true
